{% extends 'base.html' %}
{% load static %}

{% block title %} Projects {% endblock title %}


{% block content %}
<section class="projects-section">   
    <h2>Projects</h2>

    <div class="projects-list">

        <div class="project-card">
            <a href="https://github.com/SPyd3rByt3/" target="blank">
                <img src=" https://picsum.photos/100 " alt="Project image">

                <p>Project Name</p>
                <p>Project Description: 
                    Lorem ipsum dolor sit, amet consectetur!</p>
                <p>YYYY</p>

                <div class="skills-container">
                  <label class="text-label">Skill</label>
                  <label class="text-label">Skill</label>
                  <label class="text-label">Skill</label>
                  <label class="text-label">Skill</label>
                </div>
            </a>
        </div> <!--end of the CARD-->

        <div class="project-card">
            <a href="https://github.com/SPyd3rByt3/" target="blank">
                <img src=" https://picsum.photos/100 " alt="Project image">

                <p>Project Name</p>
                <p>Project Description: 
                    Lorem ipsum dolor sit, amet consectetur!</p>
                <p>YYYY</p>

                <div class="skills-container">
                  <label class="text-label">Skill</label>
                  <label class="text-label">Skill</label>
                  <label class="text-label">Skill</label>
                  <label class="text-label">Skill</label>
                </div>
            </a>
        </div> <!--end of the CARD-->

        <div class="project-card">
            <a href="https://github.com/SPyd3rByt3/" target="blank">
                <img src=" https://picsum.photos/100 " alt="Project image">

                <p>Project Name</p>
                <p>Project Description: 
                    Lorem ipsum dolor sit, amet consectetur!</p>
                <p>YYYY</p>

                <div class="skills-container">
                  <label class="text-label">Skill</label>
                  <label class="text-label">Skill</label>
                  <label class="text-label">Skill</label>
                  <label class="text-label">Skill</label>
                </div>
            </a>
        </div> <!--end of the CARD-->
        
        <div class="project-card">
            <a href="https://github.com/SPyd3rByt3/" target="blank">
                <img src=" https://picsum.photos/100 " alt="Project image">

                <p>Project Name</p>
                <p>Project Description: 
                    Lorem ipsum dolor sit, amet consectetur!</p>
                <p>YYYY</p>

                <div class="skills-container">
                  <label class="text-label">Skill</label>
                  <label class="text-label">Skill</label>
                  <label class="text-label">Skill</label>
                  <label class="text-label">Skill</label>
                </div>
            </a>
        </div> <!--end of the CARD-->
    </div>
</section>
{% endblock content %}